<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>IARE</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="/assets/css/swiper.css" rel="stylesheet">
	<link href="/assets/css/magnific-popup.css" rel="stylesheet">
	<link href="/assets/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="/assets/images/faviconx.png">
<style>
     .imground{border-radius: 50%;}
</style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="/assets/images/logo.svg" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#services">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#pricing">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#consultant">Consultancy</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#about">About</a>
                </li>
            

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#contact">Contact</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#">Blog</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin-in fa-stack-1x"></i>
                    </a>
                </span>
                
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header class="l2header">
       
       
               
                    <br> <br> <br> <br>
                    <div style=" 
 background-color: rgb(8, 162, 223);
  padding-top: 20px;
  padding-right: 100px;
  text-align:center;
  padding-bottom: 30px;
 
  padding-left: 100px;" >
  <h1 style="color:rgb(255, 255, 255);">The Iar-e Center for Blockchain Research</h1>
                
              </div>  
           
    
    </header>
    <br>

   <div style="background-color: rgb(253, 253, 253);">
         
               
                <h3 style="text-align: center;">Mission </h3><br>   <div  style="padding-left: 100px;padding-bottom:30px;padding: right 100px;" class=" ">
                <p  style="text-align: center;">The Center for Blockchain Research (CBR) is a focused research effort on crypto-currencies and blockchain technologies. The center brings together engineering, law, and economics faculty,
                     as well as post-docs, students, and visitors, to work on technical challenges in the field. The center's primary mission is to support the 
                     thriving ecosystem by developing new technologies needed to advance the field. Beyond its research mission, the center runs an extensive education and outreach program, 
                     including on-campus courses, MOOCs, workshops, and conferences for the general blockchain community.</p>
             
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->

    <!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>News</h3>
                    <hr>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                       
     
    
                        <img class="" width="100" height="100" src="/assets/img/blockchain/conference.png" alt="alternative">
                        <div class="card-body">
                            
                           <h4 class="card-title" style="color: rgb(94, 99, 104);">Conference</h4>
                           <hr>
                          <p>The 4th Stanford Blockchain Conference (SBC) took place on Feb. 19th - Feb. 21st, 2020. The program and recorded talks are available.</p> <a style="color:rgb(16, 140, 212)" href="">....learn more</a>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="" width="100" height="100" src="/assets/img/blockchain/res.png" alt="alternative">
                        <div class="card-body">
                                  
                          <h4 class="card-title" style="color: rgb(94, 99, 104);">New Research</h4>       <hr>
                          <p>Verifiable computation using set accumulators.Verifiable computation using set accumulators.<br>lorenz </p> <a style="color:rgb(16, 140, 212)" href="">....learn more</a>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="" width="100" height="100" src="/assets/img/blockchain/seminar.png" alt="alternative">
                        <div class="card-body">
                                 
                        <h4 class="card-title" style="color: rgb(94, 99, 104);"> Blockchain Seminar</h4>       <hr>
                            <br>
                         <p>The seminar is on hiatus due to the pandemic, but the schedule is available online.</p> <a style="color:rgb(16, 140, 212)" href="">....learn more</a>
                    </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->
     
 {{!-- <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Faculty</h3>
                    <hr>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
<div class="col-md-8 card" style="border-color:white ;">
      
      <div style="display:inline-block; ">
         <img class="imground" src="/assets/img/blockchain/img_avatar.png" alt="Avatar" style="width:100px">
         <div style="float:right;">
         <a href=""><h4 style="color: rgb(15, 98, 194);"> name1</h4></a>
         <p>details</p>
      </div>
     </div><hr>
      <div style="display:inline-block;">
         <img class="imground"  src="/assets/img/blockchain/img_avatar.png" alt="Avatar" style="width:100px">
         <div style="float:right;">
          <a href=""><h4 style="color: rgb(15, 98, 194);"> name2</h4></a>
         <p>details</p>
      </div>
     </div>
</div>

<div  class="col-md-8 card" style="border-color:white ;">
      
      <div style="display:inline-block;">
         <img class="imground"  src="/assets/img/blockchain/img_avatar.png" alt="Avatar" style="width:100px">
         <div style="float:right;">
         <a href=""><h4 style="color: rgb(15, 98, 194);"> name3</h4></a>
         <p>details</p>
      </div>
     </div><hr>
      <div style="display:inline-block;">
         <img class="imground"  src="/assets/img/blockchain/img_avatar.png" alt="Avatar" style="width:100px">
         <div style="float:right;">
         <a href=""><h4 style="color: rgb(15, 98, 194);"> name4</h4></a>
         <p>details</p>
      </div>
     </div>
</div>

      </div>
     </div> --}}


  



  
      

 <!-- educationand outreach -->
    <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Education and Outreach</h3>
                    <hr>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                       

    
                        <div class="card-body">
                            
                           <h4 class="card-title" style="color: rgb(94, 99, 104);">Education</h4>
                           <hr>
                            <p><span style="color: aqua;" >CS251 :</span> Cryptocurrencies and blockchain technologies. Fall 2020. The course covers decentralized applications, consensus protocols, cryptography, and security used in blockchain systems. The course is intended for advanced undergraduate Computer Science students as well as graduate students.</p><hr>
                        <p><span style="color: aqua;">CS255:</span> Cryptography. Winter 2021. The course is an undergraduate introduction to cryptography and its correct use in real world systems. The course is intended for advanced undergraduates and graduate students.</p><hr>
                        </div>
                    </div>
                    <!-- end of card -->

           
                   

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                                 
                        <h4 class="card-title" style="color: rgb(94, 99, 104);"> Outreach</h4>       <hr>
                            <br>
                              <p><span style="color: aqua;" >CS251 :</span> Cryptocurrencies and blockchain technologies. Fall 2020. The course covers decentralized applications, consensus protocols, cryptography, and security used in blockchain systems. The course is intended for advanced undergraduate Computer Science students as well as graduate students.</p><hr>
                        <p><span style="color: aqua;">CS255:</span> Cryptography. Winter 2021. The course is an undergraduate introduction to cryptography and its correct use in real world systems. The course is intended for advanced undergraduates.</p><hr>
                    </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of education and outreach -->
  
          <!-- section -->
    <div  style="background-color: rgb(244, 248, 248);padding-top:20px;">
        <div class="container">
            <div class="row">
               <div class="col-md-8">
                    <div class="full main_heading_1">
                        <h3>Research</h3>
                         <p>The center's research mission is focused on technical aspects of cryptocurrencies and blockchains. We work on research topics that support the thriving ecosystem of projects.</p>
                          <p>Check out the center's <span style="color: rgb(24, 104, 195);"><a class="main_bt" href="#">research page.</a></span> </p>
                    </div>   
                
                </div>
                <div class="col-md-4 margin_top_30 padding_right_0">
                    <div class="full">
                        <img  width="170" height="150" src="/assets/img/blockchain/bulb.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    
        <!-- Clients Start -->
        <div class="clients" style="background-color:rgb(255, 255, 255)">
            <div class="container">
                <div class="section-header">
                    <h3 style="text-align: center;padding-top:50px;">Sponsors</h3>
                    <p  style="text-align: center;">The center is supported by the leading projects and funds in the space.</p>
                    <hr>
                </div>

                <div class="">
                 
                    <img width="200px" height="150" src="/assets/img/blockchain/s.png" alt="Client Logo">
                    <img width="160px" height="100" src="/assets/img/blockchain/sp3.png" alt="Client Logo">
                    <img  width="200px" height="130"src="/assets/img/blockchain/sp4.png" alt="Client Logo">
                       <img width="200px" height="50" src="/assets/img/blockchain/ss.png" alt="">
                    <img width="200px" height="130"src="/assets/img/blockchain/pepsi.png" alt="Client Logo">
                 
                  
                </div>

            </div>
        </div>
        <!-- Clients End -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About IARE</h4>
                        <p>We're passionate about developing the most efficient and lightweight projects</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                  
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        {{!--<span class="fa-stack">--}}
                        {{!--    <a href="#your-link">--}}
                        {{!--        <i class="fas fa-circle fa-stack-2x"></i>--}}
                        {{!--        <i class="fab fa-instagram fa-stack-1x"></i>--}}
                        {{!--    </a>--}}
                        {{!--</span>--}}
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://iar-e.com">IARE</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/assets/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>